<form action="" method="POST">
  <p>name:</p>  <input type="text" name="retailer_name" required><br>
   <p>Password:</p> <input type="text" name="retailer_password" required><br>
   <p>mobile number:</p>  <input type="number" name="retailer_mobilenumber" required><br>
   <p>email:</p>  <input type="text" name="retailer_email" required><br>
    <input type="submit" name="submit">
</form>